# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/Conway's Game of Life/.vs/Conway's Game of Life/v16
/Conway's Game of Life/x64/Release
/Conway's Game of Life/Release
/Conway's Game of Life/Debug
/Conway's Game of Life/Conway's Game of Life/x64/Release
/Conway's Game of Life/Conway's Game of Life/Release
/Conway's Game of Life/Conway's Game of Life/Debug
